@import url(http://fonts.googleapis.com/css?family=Oswald|Lato|Indie+Flower);

.node-article.node-teaser {
  margin-bottom: 15px;
}

header .field-name-field-rubric .field-item {
  display: inline-block;
  padding: 0 3px;
  margin-left: 1px;
  background-color: #c00;
  color: #FFF;
  text-align: right;
  float: right;
  margin-top: 1px;
  text-decoration: none;
}

.node-article.node-teaser .field-name-field-image  {
  display: inline-block;
  padding: 0 3px;
  float: left;
  margin-top: 1px;
}


header h2 {
  border-top: 1px solid #c00;
  border-bottom: 1px solid #c00;
  margin: 0 0 10px 0;
}
h2{
  font-size: 150%;
  text-transform: uppercase;
  padding-left: 5px;
    font-family: 'Oswald',sans-serif;
    letter-spacing: -0.02em;
}

ul.facetapi-facetapi-checkbox-links {
  padding-left: 0;
  ul {
    padding-left: 10px;
  }
}


input[type="checkbox"].facetapi-checkbox {
  margin-right:2px;
}

//a.facetapi-active,
//a.facetapi-inactive {
//  position: relative;
//  padding-left: 22px;
//  &:before {
//    position: absolute;
//    left: 0px;
//    top: 2px;
//    content: '';
//    width: 18px;
//    height: 18px;
//    display: inline-block;
//    background-image: url(../img/checkbox.gif);
//    background-position: 0 -18px;
//    background-repeat: no-repeat;
//  }
//}
//
//
//a.facetapi-inactive {
//  &:before {
//    background-position: 0 0px;
//  }
//}