.node-article.node-teaser {
  margin-bottom: 15px;
}
header .field-name-field-rubric .field-item {
  display: inline-block;
  padding: 0 3px;
  margin-left: 1px;
  background-color: #c00;
  color: #FFF;
  text-align: right;
  float: right;
  margin-top: 1px;
  text-decoration: none;
}
.node-article.node-teaser .field-name-field-image {
  display: inline-block;
  padding: 0 3px;
  float: left;
  margin-top: 1px;
}
header h2 {
  border-top: 1px solid #c00;
  border-bottom: 1px solid #c00;
  margin: 0 0 10px 0;
}
h2 {
  font-size: 150%;
  text-transform: uppercase;
  padding-left: 5px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: -0.02em;
}
ul.facetapi-facetapi-checkbox-links {
  padding-left: 0;
}
ul.facetapi-facetapi-checkbox-links ul {
  padding-left: 10px;
}
input[type="checkbox"].facetapi-checkbox {
  margin-right: 2px;
}
header .jumbotron {
  background: radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.15) 30%, rgba(255, 255, 255, 0.3) 32%, rgba(255, 255, 255, 0) 33%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.3) 13%, rgba(255, 255, 255, 0) 14%) 0 0, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 17%, rgba(255, 255, 255, 0.43) 19%, rgba(255, 255, 255, 0) 20%) 0 110px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) -130px -170px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 11%, rgba(255, 255, 255, 0.4) 13%, rgba(255, 255, 255, 0) 14%) 130px 370px, radial-gradient(rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.1) 11%, rgba(255, 255, 255, 0.2) 13%, rgba(255, 255, 255, 0) 14%) 0 0, linear-gradient(45deg, #962ec1 0%, #a3298e 20%, #389566 30%, #2087a2 40%, #2b32a4 50%, #962ec1 60%, #a3298e 70%, #a42b4a 80%, #d15e32 90%, #f29432 100%);
  background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}
header .jumbotron a {
  color: #fff;
}
header .jumbotron h1 {
  font-family: 'Special Elite', "Courier New", monospace;
}
.myphp-evidence {
  font-size: 150%;
  font-family: 'Special Elite';
}
